@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans:wght@700;800&display=swap');

.text{
    text-indent: 100px;
    /* letter-spacing: 50px; */
    /* line-height: 100px; */
    /* word-spacing: 100px; */
    white-space: nowrap;
}


/* ? Text shadow */
.t-shadow{
    text-shadow: 2px 2px 10px blue;
}

.b-shadow{
    width: 300px;
    /* box-shadow: 2px -4px 4px red inset; */
    box-shadow: 2px -4px 4px red;
}

*{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fonts{

    font-weight: 500;
    font-size: 20px;
    font-family: 'Playpen Sans', cursive;
 

}